section#top
      header#home-top.nav-top.nav-fixed.nav-root
        .container
          .row
            .col-md-4.col-xs-4
              h1#header-logo.image-text
                a(href='index.html')
                  span.mask
                  span.behind
                  | Rafael Medina
                  i
            .col-md-8.col-xs-8
              nav#top-nav
                ul.nav-list.transistion
                  li
                    a.active(href='index.html') About
                  li
                    a(href='work.html') Work
                  li
                    a(href='notes.html') Notes
