.masthead-wrap
  #title
    .container
      .transistion.cloud.left-cloud
      .transistion.cloud.right-cloud
      .row
        .col-md-12
          #head-slider.transistion
            .slide-contents
              .slide
                h2.im-rafael
                  figure.transistion
                    img(src='assets/img/content/home/masthead/im-rafael.svg')
                p.header-desc a web designer.
