//colors
$header-color: #e0ebe8
$primary-color: #45b29a
$text-color: #45b29a
$accent-color: #21564b
$bg-color: #F6F6F8
$link-color: $accent-color
$selection-color: #e0ebe8
$white: #fff
$transparent-grey: rgba(6, 8, 8, .1)
$text-selected: #545454


//urls
$header-logo-mask: url(../img/content/nav/header-logo-mask.png)
$header-logo-mask2x: url(../img/content/nav/header-logo-mask%402x.png)
$header-logo: url(../img/content/nav/header-logo-i.svg)
